/*----------------------------------------Menu de Navegacion-----------------------------------------*/
nav {
  min-height: 100px;
}

.navbar__img {
  max-width: 60px;
  height: auto;
}

#header {
  grid-column: 1/2;
  box-shadow: 0px 10px 40px rgb(219, 217, 217);
  font-family: "bebasneue";
  font-size: 1.3rem;
}

.nabvar-brand {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

.logo__titulo, .navbar-nav a {
  color: #0084FF !important;
}

.navbar-nav li:hover {
  background-color: #ccc;
}

.text-primary {
  color: #0084FF !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "console-input";
  src: url("../assets/fonts/Console Input.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "bebasneue";
  src: url("../assets/fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "compiler";
  src: url("../assets/fonts/Fontspring-DEMO-compiler-black.otf");
}
#website {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 10px;
}

.contenido {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(7, auto);
}
.contenido h2 {
  grid-column: 1/5;
  place-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Lucida Sans";
  font-weight: bold;
  font-size: 2rem;
  color: rgb(255, 234, 0);
  text-shadow: 2px 2px 5px rgb(125, 175, 255);
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.presentacion {
  grid-column: 1/5;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
  gap: 20px; */
  align-items: start;
  margin-bottom: 2rem;
}
.presentacion__description {
  text-align: justify;
  line-height: 2rem;
  padding: 0 4rem;
}
.presentacion__bienvenida {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: "montserrat";
  color: rgb(0, 132, 255);
  margin-bottom: 20px;
}
.presentacion__img img {
  width: 100%;
}

.cards {
  grid-column: 1/5;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%),0.25fr));
  grid-auto-flow: dense;
  */
  gap: 40px;
  justify-content: center;
  margin-bottom: 2rem;
}
.cards .card {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0px 0px 4px gray;
  border-radius: 16px;
  height: 230px;
}

.modulos {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(490px, 100%), 500px));
  gap: 60px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.modulos__card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 4px gray;
  overflow: hidden;
  height: auto;
  border-radius: 1rem;
}

.modulos__img {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-bottom: 1px solid blue;
}

.modulos__img img {
  object-fit: cover;
  width: 100%;
}

.modulos__description p {
  padding: 20px;
}

.modulos__card a {
  display: block;
  margin-top: 20px;
  padding: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "bebasneue";
  font-size: 30px;
}

.about {
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 500px));
  padding: 20px;
  justify-content: center;
  gap: 60px;
  padding-top: 40px;
}

.about h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "bebasneue";
  font-size: 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mision, .vision {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 0px 4px gray;
}

.about__img {
  width: 100px;
  max-height: 400px;
  overflow: hidden;
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__description {
  text-align: justify;
  margin-top: 20px;
  padding: 20px;
}

#footer {
  grid-column: 1/2;
  height: 140px;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  border-top: 1px solid black;
}
#footer .icons img {
  display: block;
  width: 200px;
  height: 50px;
}
#footer .icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 20px;
}
#footer p {
  font-family: "bebasneue";
  letter-spacing: 2px;
  font-size: 20px;
  margin: 5px auto;
  max-width: 400px;
  text-align: center;
}

.agenda {
  background: url("../assets/img/agendaEscolarBG.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
.agenda__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 240px;
  color: #0084FF;
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "compiler";
  border: 5px solid white;
  box-shadow: 0px 0px 4px gray;
  border-radius: 16px;
  background: transparent;
  background-position: -100px;
}

form label {
  font-size: 1.4rem;
}

.form__titulo {
  padding-top: 1rem;
}

.form__img {
  padding-top: 1rem;
  max-width: 6rem;
}

.contacto__title {
  background: url("../assets/img/institucionJmaFrontal.jpg");
  max-height: 12.5rem;
  width: 100%;
  background-size: cover;
  background-position: -1px;
  filter: hue-rotate(255deg) brightness(150%);
  text-align: center;
  font-family: "bebasneue";
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px black;
  font-size: 40px;
  line-height: 200px;
  letter-spacing: 2px;
  margin-top: 30px;
  border: none;
}
.contacto__contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30.25rem, 90%), 0.1fr));
  grid-auto-rows: auto;
  justify-content: center;
  align-items: start;
  column-gap: 90px;
  padding-top: 30px;
}
.contacto__tarjeta {
  margin-bottom: 2px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 0px 0px 4px gray;
  border-radius: 16px;
  background: url("../assets/img/Polygon Luminary.svg");
  margin-bottom: 20px;
}
.contacto__tarjeta p:first-child {
  font-family: "bebasneue";
  font-size: 2rem;
  color: rgb(165, 20, 20);
  text-shadow: 1px 1px 2px rgb(238, 255, 0);
  padding: 20px 0;
  letter-spacing: 1px;
  font-weight: bold;
}
.contacto__tarjeta p:nth-child(2) {
  font-family: "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: aliceblue;
  text-shadow: 1px 1px 2px white;
}
.contacto__tarjeta .contacto__form {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  padding: 10px;
}
.contacto__form {
  min-width: 80%;
}
.contacto__form input {
  height: 40px;
  max-width: 100%;
}
.contacto__info {
  margin-bottom: 2px;
  margin-left: 2px;
  box-shadow: 0px 0px 4px gray;
  background: url("../assets/img/Polygon Luminary.svg");
  border-radius: 16px;
  padding: 20px;
  color: white;
  font-weight: bolder;
  font-family: "bebasneue";
}
.contacto__info img {
  width: 20px;
}
.contacto__info--titulo {
  font-family: "bebasneue";
  color: rgb(165, 20, 20);
  text-shadow: 1px 1px 2px rgb(238, 255, 0);
  letter-spacing: 1px;
  font-size: 2rem;
}
.contacto__info--tel, .contacto .contacto__info--email {
  display: flex;
  gap: 10px;
}

.sesion {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px, 96%), 1fr));
  gap: 20px;
  justify-content: center;
  align-items: start;
  padding: 40px;
}

.login {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: url("../assets/img/Polygon Luminary.svg");
  background-repeat: no-repeat;
  padding: 10px;
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 4px gray;
}
.login img {
  width: 50%;
  height: 278px;
}
.login form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;
  width: 90%;
}
.login a {
  text-align: center;
  font-size: 1.3rem;
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.login input, .login a {
  border-radius: 16px;
  height: 40px;
  display: block;
  width: 80%;
}
.login input[type=submit] {
  cursor: pointer;
  margin-bottom: 30px;
  width: 40%;
  border-radius: 2rem;
  background-color: #00072B;
  color: white;
  font-weight: bolder;
}
.login input[type=submit]:hover {
  color: gold;
}

.portadaColegio {
  height: 100%;
  width: 100%;
}
.portadaColegio img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0px 0px 4px gray;
}

/*---------------------------------- NOTICIAS Y ACTIVIDADES*----------------------------*/
.noticias__actividades {
  text-align: justify;
}
.noticias__titulo {
  font-family: "bebasneue";
  width: 100%;
  font-size: 30px;
  color: white;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.noticia img {
  max-width: 100%;
  max-height: 20rem;
  margin-top: 5px;
  object-fit: cover;
}

.video h3 {
  font-weight: bold;
  color: #0084FF;
}

.video__description {
  font-family: "BebasNeue-Regular";
  font-size: 1.1rem;
  padding-bottom: 20px;
  text-align: justify;
}
.video__description h4 {
  align-self: flex-start;
  padding-top: 40px;
  font-size: 1.6rem;
  color: #0084FF;
  font-family: "bebasneue";
  animation: aparition 2s linear;
  font-weight: bold;
}

@keyframes aparition {
  0% {
    opacity: 0;
    color: rgba(225, 33, 33, 0.805);
  }
  50% {
    opacity: 0.5;
    color: #0084FF;
  }
  100% {
    opacity: 1;
    color: rgb(33, 30, 11);
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.contenido__talleres h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(255, 234, 0);
  text-shadow: 2px 2px 5px rgb(125, 175, 255);
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}

.iframe__contenedor {
  width: 100%;
}

.video iframe {
  width: 100%;
}

@media (max-width: 532px) {
  #footer .icons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */