@mixin sombras () {
    box-shadow: 0px 0px 4px gray;
}
@mixin flexRow(){
    display: flex;
    flex-flow:row wrap;
}
@mixin flexColumn(){
    display: flex;
    flex-flow: column wrap;
}
@mixin bgGrandiente() {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}