/*----------------------------------------Menu de Navegacion-----------------------------------------*/
nav{
    min-height: 100px;

}
.navbar__img{
    max-width:60px ;
    height: auto;
}
#header{
    grid-column: 1/2;
    box-shadow:0px 10px 40px rgb(219, 217, 217);
    font-family: "bebasneue";
    font-size: 1.3rem;
    
}
.nabvar-brand{
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.logo__titulo, .navbar-nav a{
    color: #0084FF !important;
}
.navbar-nav li:hover {
    background-color: #ccc;
}