/*---------------------------------- NOTICIAS Y ACTIVIDADES*----------------------------*/
.noticias{
&__actividades{
    text-align: justify;   
  }
&__titulo{
      font-family: "bebasneue";
      width: 100%;
      font-size: 30px;
      color: white;
      text-align: center;
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  } 
}
.noticia img{
    
    max-width: 100%;
    height: auto;;
    margin-top: 5px;
}



