@media (max-width:532px) {
    #footer .icons{
        @include flexColumn;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:342px){
    .agenda__form{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width:365px){
    .contenido , .contenido_agenda, .contenido__talleres{
        margin-top: 180px;
    }
}
